<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="path1" value="C:\scripts\ConvertToZendesk\IN" />
    <add key="file1" value="index.htm" />
    <add key="path2" value="C:\scripts\ConvertToZendesk\OUT" />
    <add key="template" value="template.html" />    
  </appSettings>
</configuration>